.home-img{
    width: 100%;
    animation: mymove 2s ease-in-out infinite alternate-reverse both;
}

@keyframes mymove {
   0%{
       transform: translateY(15px);
   }

   100%{
    transform: translateY(-15px);
}
}
.home-button{
    /* width: 40%; */
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
}
.header{
    margin-top: 50px;
    height: 80vh;
    width: 100%;
}

.brand-name{
    color: #00A79D;
}

