@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@400;500;600;700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Zilla Slab', serif;
}

.navbar-brand{
    font-size: 25px !important;
    font-weight: 500 !important;
}

.nav-link{
    font-size: 18px !important;
    font-weight: 500 !important;
    color:cadetblue !important;
}
.navbar{
    background: white !important;
}
.active-class{
    border-radius: 5px;
    border-bottom: 2px solid burlywood;
}